extends base2

block content
    .container.alfa
      .row.my-2
        .col-lg-8.order-lg-2
          ul.nav.nav-tabs
            li.nav-item
              a.nav-link.active Profile
          .tab-content.py-4
            #profile.tab-pane.active
              h5.mb-3=`Welcome to ${userfound.name.split(' ')[0]}'s Profile`
              .row
                .col-md-6
                    h6 Full Name
                    p=`${userfound.name}`
                    h6 Email Address
                    p=`${userfound.Email}`
                    h6 Likes?
                    p=`${userfound.likes}`
                    h6 Bio
                    p=`${userfound.bio}`
                .col-md-6
                    img(src='/img/bg-img/user.png' id="manlooking")
            .form-group.row
        .col-lg-4.order-lg-1.text-center.image
          #divv2
            img#imgo.mx-auto.img-fluid.img-circle.d-block.sss(src=`/img/users/${userfound.photo}` alt='avatar' title="Profile Picture")
          #assa